.sectionLeft {
    float: left;
    width: 80%;
  }
  
  .sectionRight {
    float: right;
    width: 20%;
  }
  
  .scoreContainer {
    background-color: rgb(238, 238, 238, 0.6);
    width: 50%;
    padding: 10px;
    border-radius: 12px;
    font-size: 24px;
    font-weight: bold;
  }
  
  .clickerContainer img {
    position: relative;
    transition: all .2s ease-in-out;
  }
  
  .clickerContainer img:hover {
    transform: scale(1.05);
  }
  
  .clickerContainer img:active { transform: scale(0.99);}
  
  .shopButton {
    background-color: #b5b5b5;
    transition: all .2s ease-in-out;
    border-radius: 10px;
    width: 100%;
    margin: 10px 0px 10px 0px;
  }
  
  .shopButton:hover {
    background-color: #c7c7c7;
    transition: all .2s ease-in-out;
  }
  
  .shopButton #image {
    width: 25%;
  }
  
  .shopButton img {
    height: 64px;
    width: 64px;
  }
  
  .shopButton #nameAndCost p {
    margin: 0px;
    width: 60%;
  }
  
  .shopButton #nameAndCost p:first-of-type {
    font-size: 24px;
    
  }
  
  .shopButton #amount {
    font-size: 48px;
    color: #595959;
    font-family: roboto;
    width: 15%;
  }
  
  .unselectable {
    user-drag: none;
      -webkit-user-drag: none;
      user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
  }

  